In [1]:
from bs4 import BeautifulSoup
import requests

_________________________________________________________________________________

# 1. Write a python program to display all the header tags from wikipedia.org

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [3]:
page

In [292]:
soup = BeautifulSoup(page.content)

In [18]:
header_H1=[]
for i in soup.find_all('h1'):
    header_H1.append(i.text)

In [19]:
header_H1

['Main Page', 'Welcome to Wikipedia']

In [20]:
header_H2=[]
for i in soup.find_all('h2'):
    header_H2.append(i.text)

In [21]:
header_H2

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu']

In [22]:
header_H3=[]
for i in soup.find_all('h3'):
    header_H3.append(i.text)

In [23]:
header_H3

['\nPersonal tools\n',
 '\nNamespaces\n',
 '\nViews\n',
 '\nSearch\n',
 '\nNavigation\n',
 '\nContribute\n',
 '\nTools\n',
 '\nPrint/export\n',
 '\nIn other projects\n',
 '\nLanguages\n']

_________________________________________________________________________________

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)

In [5]:
page3 = requests.get('http://www.imdb.com/chart/top')
soup = BeautifulSoup(page3.content)

Find Movie Name and Delete the unnecessary elements .

In [6]:
mov=[]
for i in soup.find_all('td',class_="titleColumn"):
    for i in soup.find_all('a'):
        mov.append(i.text)

Remove "\n" from string and unnecessary elements from list.

In [8]:
del mov[0:49]

for i in mov:
    if i==' \n':
        mov.remove(i)

del mov[100:]

In [9]:
print(len(mov))

100

Find Year of Release.

In [10]:
z=[]
for i in soup.find_all('td',class_="titleColumn"):
    for i in soup.find_all('span',class_="secondaryInfo"):
        z.append(i.text)

Delete unnecessary elements from list.

In [28]:
del z[100:]

k=[]
for i in z:
    k.append(i[1:-1])
    
print(len(k))

100

Find Rating and Delete unnecessary elements from list.

In [17]:
mo=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
        mo.append(i.text)
del mo[100:]
print(len(mo))

100

Remove "\n" from string.

In [25]:
m=[]
for i in mo:
    m.append(i[1:-1])

In [29]:
import pandas as pd
t=pd.DataFrame({"Movies Name ":mov,"Year ":k,"Ratings":m})
t.head()

               Movies Name  Year  Ratings
0  The Shawshank Redemption  1994     9.2
1             The Godfather  1972     9.2
2           The Dark Knight  2008     9.0
3     The Godfather Part II  1974     9.0
4              12 Angry Men  1957     8.9

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release)

In [31]:
page3b = requests.get('https://www.imdb.com/india/top-rated-indian-movies/?sort=ir,desc&mode=simple&page=1')
page3b

In [32]:
soup = BeautifulSoup(page3b.content)

Find Movie Name and Delete the unnecessary elements .

In [33]:
h=[]
for i in soup.find_all('td',class_="titleColumn"):
    for i in soup.find_all('a'):
        h.append(i.text)
        
del h[0:55]

Remove "\n" from string.

In [34]:
for i in h:
    if i==' \n':
        h.remove(i)
del h[100:]

In [36]:
print(len(h))

100

Find Year of release and delete unnecessary elements

In [38]:
z=[]
for i in soup.find_all('td',class_="titleColumn"):
    for i in soup.find_all('span',class_="secondaryInfo"):
        z.append(i.text)
        
k=[]      
for i in z:
    k.append(i[1:-1])
    
del k[100:]

print(len(k))

100

Find Rating

In [53]:
mo=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
        mo.append(i.text)
m=[]
for i in mo:
    m.append(i[1:-1])
    
for i in range(len(m)):
    if i<15:
        print(m[i],end='  ')

8.4  8.4  8.4  8.4  8.4  8.4  8.4  8.4  8.3  8.3  8.3  8.3  8.3  8.3  8.3

In [42]:
t=pd.DataFrame({"Movies Name ":h,"Year ":k,"Ratings":m})
t.head()

                 Movies Name  Year  Ratings
0  Rocketry: The Nambi Effect  2022     8.4
1                  Anbe Sivam  2003     8.4
2                     Golmaal  1979     8.4
3                     Nayakan  1987     8.4
4                    Jai Bhim  2021     8.4

# 4. Write python program to display list of respected former presidents of India

In [54]:
page4 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page4

In [55]:
soup = BeautifulSoup(page4.content)

Find Name and Delete the unnecessary elements .

In [56]:
Name=[]
for i in soup.find_all('div',class_="presidentListing"):
    for i in soup.find_all('h3'):
        Name.append(i.text)
del Name[14:]
name=[]
for i in Name:
    name.append(i[:-12])

Find Term

In [318]:
Term=[]
for i in soup.find_all('div',class_="presidentListing"):
    for i in soup.find_all('p'):
                Term.append(i.text)

Delete unneccessary element

In [319]:
for i in Term:
    if i.startswith('http:')|i.startswith('https:')|i.startswith('Copyright')|i.startswith('Page')|i.startswith('\r'):
        Term.remove(i)

Extract desired string from each element

In [334]:
l=[]
for i in Term:
    l.append(i[16:])
    
del l[14:]
l

['25 July, 2017 to 25 July, 2022 ',
 '25 July, 2012 to 25 July, 2017 ',
 '25 July, 2007 to 25 July, 2012 ',
 '25 July, 2002 to 25 July, 2007 ',
 '25 July, 1997 to 25 July, 2002 ',
 '25 July, 1992 to 25 July, 1997 ',
 '25 July, 1987 to 25 July, 1992 ',
 '25 July, 1982 to 25 July, 1987 ',
 '25 July, 1977 to 25 July, 1982 ',
 '24 August, 1974 to 11 February, 1977',
 '3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 '13 May, 1967 to 3 May, 1969',
 '13 May, 1962 to 13 May, 1967',
 '26 January, 1950 to 13 May, 1962']

In [336]:
print(len(Name),len(l))

14 14

In [349]:
import pandas as pd
import numpy as np

pres=pd.DataFrame({'Name of President of India':name,'Term':l})
pres.head()

        Name of President of India                             Term
0          Shri Ram Nath Kovind (b  25 July, 2017 to 25 July, 2022
1            Shri Pranab Mukherjee  25 July, 2012 to 25 July, 2017
2  Smt Pratibha Devisingh Patil (b  25 July, 2007 to 25 July, 2012
3           DR. A.P.J. Abdul Kalam  25 July, 2002 to 25 July, 2007
4           Shri K. R. Narayanan (  25 July, 1997 to 25 July, 2002

# 4. Write a python program to scrape cricket rankings from icc-cricket.com.

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [380]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page
soup = BeautifulSoup(page.content)

Extract the name of the team

In [384]:
t=[]
for i in soup.find_all("span",class_="u-hide-phablet"):
    t.append(i.text)
del t[10:]
t

['England',
 'New Zealand',
 'India',
 'Pakistan',
 'Australia',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

Extract matches played and points

In [388]:
m=[]
k=soup.find("td",class_="rankings-block__banner--matches")
m.append(k.text)
l=soup.find("td",class_="rankings-block__banner--points")
m.append(l.text)
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    m.append(i.text)
del m[20:]
m

['27',
 '3,226',
 '22',
 '2,508',
 '31',
 '3,447',
 '22',
 '2,354',
 '29',
 '3,071',
 '21',
 '2,111',
 '30',
 '2,753',
 '29',
 '2,658',
 '41',
 '2,902',
 '18',
 '1,238']

Above list contains matches played and points in alternate order. Use loop to extract both list.

In [389]:
matches=[]
points=[]
for i in range(len(m)):
    if (i%2)==0:
        matches.append(m[i])
    else:
        points.append(m[i])

In [390]:
matches

['27', '22', '31', '22', '29', '21', '30', '29', '41', '18']

In [391]:
points

['3,226',
 '2,508',
 '3,447',
 '2,354',
 '3,071',
 '2,111',
 '2,753',
 '2,658',
 '2,902',
 '1,238']

Extract ratings

In [394]:
r=[]
l=soup.find("td",class_="rankings-block__banner--rating u-text-right")
r.append(l.text)
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    r.append(i.text)
del r[10:]
r

['\n                            119\n                            \n\n',
 '114',
 '111',
 '107',
 '106',
 '101',
 '92',
 '92',
 '71',
 '69']

In [395]:
df=pd.DataFrame({"Team":t,"Matches":matches,"Points":points,"Ratings":r})
df.head()

,Team,Matches,Points,Ratings
0,England,27,"3,226",\n 119\n ...
1,New Zealand,22,"2,508",114
2,India,31,"3,447",111
3,Pakistan,22,"2,354",107
4,Australia,29,"3,071",106

Clean the data

In [396]:
df2=df.replace(to_replace=[r[0]],value="119")
df2.head()

          Team Matches Points Ratings
0      England      27  3,226     119
1  New Zealand      22  2,508     114
2        India      31  3,447     111
3     Pakistan      22  2,354     107
4    Australia      29  3,071     106

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [354]:
page5a = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page5a

In [355]:
soup = BeautifulSoup(page5a.content)

Extract Batsman Name

In [356]:
bat=[]
d=soup.find("div",attrs={"data-title":"ODI Batting Rankings"}).find("div",attrs={"rankings-block__top-player"}).find("div",attrs={"rankings-block__banner--player-info"}).find("div",class_="rankings-block__banner--name").get_text(strip=True,separator=" ")
bat.append(d)
for i in soup.find_all('td',class_="table-body__cell name"):
    bat.append(i.text)
    
del bat[10:]
b=[]
for i in bat:
    b.append(i.translate({ord(i): None for i in '\n'}))
b

['Babar Azam',
 'Rassie van der Dussen',
 'Quinton de Kock',
 'Imam-ul-Haq',
 'Virat Kohli',
 'Rohit Sharma',
 'Jonny Bairstow',
 'David Warner',
 'Ross Taylor',
 'Steve Smith']

Extract rating and delete unnecessary elements from list

In [ ]:
rating=[]
e=soup.find('div',attrs={"class":"rankings-block__banner--rating"}).get_text(strip=True)
rating.append(e)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
    
del rating[10:]
rating

Extract team name and delete unnecessary elements from list

In [362]:
team=[]
f=soup.find('div',attrs={"class":"rankings-block__banner--nationality"}).get_text(strip=True)
team.append(f)
for i in soup.find_all('td',class_="table-body__cell nationality-logo"):
    team.append(i.text)
del team[10:]
c=[]
for i in team:
    c.append(i.translate({ord(i): None for i in '\n'}))
c

['PAK890', 'SA', 'SA', 'PAK', 'IND', 'IND', 'ENG', 'AUS', 'NZ', 'AUS']

In [368]:
odi_bat=pd.DataFrame({"Batsman_Name":b,"Team":c,"Ratings":rating})
odi_bat.head()

            Batsman_Name    Team Ratings
0             Babar Azam  PAK890     890
1  Rassie van der Dussen      SA     789
2        Quinton de Kock      SA     784
3            Imam-ul-Haq     PAK     779
4            Virat Kohli     IND     744

Clean the data

In [371]:
df2=odi_bat.replace(to_replace=[c[0]],value="PAK")
df2.head()

            Batsman_Name Team Ratings
0             Babar Azam  PAK     890
1  Rassie van der Dussen   SA     789
2        Quinton de Kock   SA     784
3            Imam-ul-Haq  PAK     779
4            Virat Kohli  IND     744

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
page5a = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(page5a.content)

Extract bowler name and delete unnecessary elements from the list. Also remove unnecessary string "\n" from each element

In [372]:
ball=[]
k=soup.find("div",attrs={"data-title":"ODI Bowling Rankings"}).find("div",attrs={"rankings-block__top-player"}).find("div",attrs={"rankings-block__banner--player-info"}).find("div",class_="rankings-block__banner--name").get_text(strip=True,separator=" ")
ball.append(k)
for i in soup.find_all('td',class_="table-body__cell name"):
    ball.append(i.text)
    


del ball[1:10]
del ball[10:]
b=[]
for i in ball:
    b.append(i.translate({ord(i): None for i in '\n'}))
b

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Shaheen Afridi',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Matt Henry',
 'Mitchell Starc',
 'Rashid Khan']

Extract ratings and delete unnecessary elements from the list

In [376]:
rat=[]
k=soup.find("div",attrs={"data-title":"ODI Bowling Rankings"}).find("div",attrs={"rankings-block__top-player"}).find("div",attrs={"rankings-block__banner--player-info"}).find("div",class_="rankings-block__banner--rating").get_text(strip=True,separator=" ")
rat.append(k)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rat.append(i.text)
    


del rat[1:10]
del rat[10:]
rat

['775', '718', '676', '662', '661', '657', '655', '654', '653', '651']

Extract team name and delete unnecessary elements from the list

In [373]:
tea=[]
j=soup.find("div",attrs={"data-title":"ODI Bowling Rankings"}).find("div",attrs={"rankings-block__top-player"}).find("div",attrs={"rankings-block__banner--player-info"}).find("div",class_="rankings-block__banner--nationality").get_text(strip=True,separator=" ")
tea.append(j)
for i in soup.find_all('td',class_="table-body__cell nationality-logo"):
    tea.append(i.text)
del tea[1:10]
del tea[10:]

c=[]
for i in tea:
    c.append(i.translate({ord(i): None for i in '\n'}))
c

['NZ 775', 'AUS', 'AFG', 'IND', 'PAK', 'AFG', 'BAN', 'NZ', 'AUS', 'AFG']

Check the length of all 3 list

In [379]:
print(len(ball),len(tea),len(rat))

10 10 10

In [377]:
odi_ball=pd.DataFrame({"Bowler_Name":b,"Team":c,"Ratings":rat})
odi_ball.head()

        Bowler_Name    Team Ratings
0       Trent Boult  NZ 775     775
1    Josh Hazlewood     AUS     718
2  Mujeeb Ur Rahman     AFG     676
3    Jasprit Bumrah     IND     662
4    Shaheen Afridi     PAK     661

Clean the data

In [378]:
df2=odi_ball.replace(to_replace=[c[0]],value="NZ")
df2.head()

        Bowler_Name Team Ratings
0       Trent Boult   NZ     775
1    Josh Hazlewood  AUS     718
2  Mujeeb Ur Rahman  AFG     676
3    Jasprit Bumrah  IND     662
4    Shaheen Afridi  PAK     661

_________________________________________________________________________________

# 6) Write a python program to scrape women cricket rankings from icc-cricket.com.

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [6]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [10]:
soup = BeautifulSoup(page.content)

Extract name of team

In [29]:
name=[]
for i in soup.find_all("span",class_="u-hide-phablet"):
    name.append(i.text)
name

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka',
 'Zimbabwe']

Extract matches played and points

In [33]:
mt=[]
k=soup.find("td",class_="rankings-block__banner--matches").get_text()
mt.append(k)
l=soup.find("td",class_="rankings-block__banner--points").get_text()
mt.append(l)
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    mt.append(i.text)
mt

['29',
 '4,837',
 '35',
 '4,157',
 '36',
 '4,205',
 '35',
 '3,732',
 '34',
 '3,342',
 '33',
 '3,014',
 '12',
 '930',
 '30',
 '1,962',
 '11',
 '516',
 '11',
 '495',
 '8',
 '0']

The list above conatins matches played and points together in alternate order. We now separated data to get two list.

In [34]:
matches=[]
points=[]
for i in range(len(mt)):
    if (i%2)==0:
        matches.append(mt[i])
    else:
        points.append(mt[i])

In [35]:
matches

['29', '35', '36', '35', '34', '33', '12', '30', '11', '11', '8']

In [36]:
points

['4,837',
 '4,157',
 '4,205',
 '3,732',
 '3,342',
 '3,014',
 '930',
 '1,962',
 '516',
 '495',
 '0']

Finding rating of team

In [ ]:
ratings=[]
k=soup.find("td",class_="rankings-block__banner--rating u-text-right")
ratings.append(k.text)
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
ratings

In [70]:
import pandas as pd
df=pd.DataFrame({"Country":name,"Matches":matches,"Points":points,"Ratings":ratings})
df.head()

,Country,Matches,Points,Ratings
0,Australia,29,"4,837",\n 167\n ...
1,South Africa,35,"4,157",119
2,England,36,"4,205",117
3,India,35,"3,732",107
4,New Zealand,34,"3,342",98

Clean the data

In [77]:
df2=df.replace(to_replace=[ratings[0]],value="167")
df2.head()

        Country Matches Points Ratings
0     Australia      29  4,837     167
1  South Africa      35  4,157     119
2       England      36  4,205     117
3         India      35  3,732     107
4   New Zealand      34  3,342      98

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [78]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [79]:
soup = BeautifulSoup(page.content)

Extract name of batter

In [164]:
name=[]
k=soup.find("div",class_="rankings-block__banner--name")
name.append(k.text)
for i in soup.find_all("td",class_="table-body__cell name"):
        name.append(i.text)
a=[]
for i in name:
    a.append(i.translate({ord(i): None for i in '\n'}))
    
del a[10:]
a

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Amy Satterthwaite',
 'Chamari Athapaththu']

Extract the team

In [160]:
teams=[]
k=soup.find("div",class_="rankings-block__banner--nationality")
teams.append(k.text)
for i in soup.find_all("span",class_="table-body__logo-text"):
    teams.append(i.text)

del teams[10:]
teams

['\n\nAUS\n                            785\nAUS                            785AUSSAENGINDINDAUSAUSNZSLAUSAUSSAINDWIENGSAINDSAAUSENGNZSAINDAUSAUSINDENGAUS                            785AUS                            785AUSSAENGINDINDAUSAUSNZSLAUSAUSSAINDWIENGSAINDSAAUSENGNZSAINDAUSAUSINDENGAUSSAENGINDINDAUSAUSNZSLAUSAUSSAINDWIENGSAINDSAAUSENGNZSAINDAUSAUSINDENG',
 'AUS',
 'SA',
 'ENG',
 'IND',
 'IND',
 'AUS',
 'AUS',
 'NZ',
 'SL']

Extract the points

In [171]:
points=[]
k=soup.find("div",class_="rankings-block__banner--rating")
points.append(k.text)
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    points.append(i.text)
    
del points[10:]
points

['785', '749', '732', '725', '716', '714', '710', '701', '661', '655']

In [165]:
df=pd.DataFrame({"Name":a,"Country":teams,"Ratings":points})
df.head()

               Name                                            Country Ratings
0      Alyssa Healy  \n\nAUS\n                            785\nAUS ...     785
1       Beth Mooney                                                AUS     749
2   Laura Wolvaardt                                                 SA     732
3    Natalie Sciver                                                ENG     725
4  Harmanpreet Kaur                                                IND     716

Data Cleaning

In [172]:
df2=df.replace(to_replace=[teams[0]],value="AUS")
df2.head()

               Name Country Ratings
0      Alyssa Healy     AUS     785
1       Beth Mooney     AUS     749
2   Laura Wolvaardt      SA     732
3    Natalie Sciver     ENG     725
4  Harmanpreet Kaur     IND     716

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [174]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page
soup = BeautifulSoup(page.content)

Extracts names of all rounders

In [193]:
name=[]
k=soup.find("div",attrs={"data-title":"ODI All-Rounder Rankings",}).find("div",class_="rankings-block__banner--name")
name.append(k.text)
for i in soup.find_all("td",class_="table-body__cell name"):
        name.append(i.text)
a=[]
for i in name:
    a.append(i.translate({ord(i): None for i in '\n'}))
    
del a[1:19]
a

['Hayley Matthews',
 'Ellyse Perry',
 'Natalie Sciver',
 'Amelia Kerr',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Katherine Brunt']

Extract the list of teams

In [195]:
teams=[]
k=soup.find("div",attrs={"data-title":"ODI All-Rounder Rankings",}).find("div",class_="rankings-block__banner--nationality")
teams.append(k.text)
for i in soup.find_all("span",class_="table-body__logo-text"):
    teams.append(i.text)

del teams[1:19]
teams

['\n\nWI\n                            380\n',
 'AUS',
 'ENG',
 'NZ',
 'SA',
 'IND',
 'AUS',
 'AUS',
 'IND',
 'ENG']

Extract points

In [196]:
points=[]
k=soup.find("div",attrs={"data-title":"ODI All-Rounder Rankings",}).find("div",class_="rankings-block__banner--rating")
points.append(k.text)
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    points.append(i.text)
    
del points[1:19]
points

['380', '374', '357', '356', '349', '322', '270', '246', '214', '207']

In [197]:
df=pd.DataFrame({"Name":a,"Country":teams,"Ratings":points})
df.head()

              Name                                    Country Ratings
0  Hayley Matthews  \n\nWI\n                            380\n     380
1     Ellyse Perry                                        AUS     374
2   Natalie Sciver                                        ENG     357
3      Amelia Kerr                                         NZ     356
4   Marizanne Kapp                                         SA     349

Clean the data

In [198]:
df2=df.replace(to_replace=[teams[0]],value="WI")
df2.head()

              Name Country Ratings
0  Hayley Matthews      WI     380
1     Ellyse Perry     AUS     374
2   Natalie Sciver     ENG     357
3      Amelia Kerr      NZ     356
4   Marizanne Kapp      SA     349

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [199]:
page = requests.get('https://www.cnbc.com/world/?region=world')
page
soup = BeautifulSoup(page.content)

Extract headlines

In [209]:
title=[]
for i in soup.find_all("a",class_="LatestNews-headline"):
    title.append(i.text)
title

['Elon Musk shows off humanoid robot prototype at Tesla AI Day',
 "Cramer's lightning round: nLight is not a buy",
 'Cramer: Charts suggest it’s ‘way too early’ to expect the market to rebound',
 "Cramer’s week ahead: 3 big events will set the market's tone for October",
 "Intel's self-driving car division Mobileye files for IPO",
 "Pro Picks: Watch all of Friday's big stock calls on CNBC",
 "Wall Street took a close look at Disney and Microsoft. Here's our take ",
 'Donald Trump urged to tell shareholders to vote on delaying merger with SPAC',
 'Tesla expected to show a humanoid robot demo on Friday night at AI Day 2022',
 'Disney reaches deal with Third Point, will add former Meta exec to its board',
 'Good riddance September: We gauge the market damage and get ready for October',
 'EV and self-driving stocks fell 15% in September, second-worst month on record',
 'Met Gala 2023 theme will celebrate late designer Karl Lagerfeld',
 "Gautam Adani: How Asia's richest person gave Jeff Bezos a run for his money",
 'Why people are looking to Waffle House as Hurricane Ian makes landfall again',
 "We're upgrading our rating on AbbVie amid a false report on the biopharma's guidance",
 "What Nike's earnings report tells us about 3 consumer stocks in our portfolio",
 'Here are the people who texted Elon Musk about the Twitter deal',
 "Biden warns Putin: U.S. will defend 'every inch' of NATO territory ",
 'American homebuyers are finding UK bargains, discounted by a weaker pound',
 'Ohio reports third U.S. death of person with monkeypox',
 'These money deal breakers could sour a relationship, couples say',
 "These are the best ways to give to charity for the 'vast majority of people'",
 'Silicon Valley billionaires square off over support for Trump and MAGA movement',
 'Goldman says buy puts on these stocks with deteriorating fundamentals',
 'Over 700,000 borrowers no longer qualify for student loan relief',
 'The beaten-up market may get a slight reprieve as the calendar turns to October',
 'FTX is paying $51 million in cash for Voyager assets, court records show',
 '83% of workers have seen or experienced quiet firing—7 signs to look for',
 'These beat-up stocks show signs of bottoming as rest of market falls to new lows']

Extract publishing time

In [210]:
time=[]
for i in soup.find_all("span",class_="LatestNews-wrapper"):
    time.append(i.text)
time

['4 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago']

Extract url of each headline

In [211]:
link=[]
for i in soup.find_all("a",class_="LatestNews-headline"):
    link.append(i.get("href"))
link

['https://www.cnbc.com/2022/09/30/elon-musk-shows-off-humanoid-robot-prototype-at-tesla-ai-day.html',
 'https://www.cnbc.com/2022/09/30/cramers-lightning-round-nlight-is-not-a-buy.html',
 'https://www.cnbc.com/2022/09/30/cramer-charts-suggest-its-way-too-early-for-the-market-to-rebound.html',
 'https://www.cnbc.com/2022/09/30/cramers-week-ahead-3-events-will-set-the-markets-tone-for-october.html',
 'https://www.cnbc.com/2022/09/30/intel-owned-mobileye-files-s-1-for-ipo.html',
 'https://www.cnbc.com/2022/09/30/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2022/09/30/wall-street-took-a-close-look-at-disney-and-microsoft.html',
 'https://www.cnbc.com/2022/09/30/donald-trump-truth-social-devin-nunes-digital-world-merger-delay.html',
 'https://www.cnbc.com/2022/09/30/tesla-ai-day-2022-expect-humanoid-robot-optimus-demo.html',
 'https://www.cnbc.com/2022/09/30/disney-reaches-deal-with-activist-investor-third-point-will-add-former-meta-executive-to-its-board.html',
 'https://www.cnbc.com/2022/09/30/good-riddance-september-we-gauge-the-damage-and-get-ready-for-october.html',
 'https://www.cnbc.com/2022/09/30/electric-and-autonomous-vehicle-etf-falls-15percent-in-september.html',
 'https://www.cnbc.com/2022/09/30/met-gala-2023-theme-will-celebrate-late-designer-karl-lagerfeld.html',
 'https://www.cnbc.com/2022/09/30/gautam-adani-how-asias-richest-person-gave-bezos-a-run-for-his-money.html',
 'https://www.cnbc.com/2022/09/30/fema-waffle-house-index-hurricane-ian-makes-landfall-again.html',
 'https://www.cnbc.com/2022/09/30/were-upgrading-our-rating-on-abbvie-amid-a-false-report-on-the-biopharmas-guidance.html',
 'https://www.cnbc.com/2022/09/30/what-nikes-earnings-report-tells-us-about-3-consumer-stocks-in-our-portfolio.html',
 'https://www.cnbc.com/2022/09/30/who-texted-elon-musk-to-get-involved-or-offer-advice-on-twitter-deal.html',
 'https://www.cnbc.com/2022/09/30/biden-warns-putin-on-nato-threat-as-russia-annexes-ukraine-regions.html',
 'https://www.cnbc.com/2022/09/30/american-homebuyers-find-uk-bargains-discounted-by-a-weaker-pound.html',
 'https://www.cnbc.com/2022/09/30/ohio-reports-third-us-death-of-person-with-monkeypox.html',
 'https://www.cnbc.com/2022/09/30/these-money-deal-breakers-could-sour-a-relationship-couples-say.html',
 'https://www.cnbc.com/2022/09/30/heres-how-to-pick-the-best-charitable-giving-strategy.html',
 'https://www.cnbc.com/2022/09/30/silicon-valley-billionaires-duel-over-trump-midterm-elections.html',
 'https://www.cnbc.com/2022/09/30/goldman-says-buy-puts-on-these-stocks-with-deteriorating-fundamentals-in-this-bear-market.html',
 'https://www.cnbc.com/2022/09/30/over-700000-borrowers-no-longer-qualify-for-student-loan-relief.html',
 'https://www.cnbc.com/2022/09/30/the-beaten-down-stock-market-may-get-a-slight-reprieve-as-the-calendar-turns-to-october.html',
 'https://www.cnbc.com/2022/09/30/ftx-is-paying-51-million-in-cash-for-voyager-assets-court-records-.html',
 'https://www.cnbc.com/2022/09/30/7-signs-of-quiet-firing-to-look-for-at-work.html',
 'https://www.cnbc.com/2022/09/30/these-beaten-up-stocks-show-signs-of-bottoming-as-rest-of-market-falls-to-new-lows.html']

In [212]:
print(len(title),len(time),len(link))

30 30 30

In [213]:
df=pd.DataFrame({"Headline":title,"Published":time,"Link":link})
df.head()

,Headline,Published,Link
0,Elon Musk shows off humanoid robot prototype a...,4 Hours Ago,https://www.cnbc.com/2022/09/30/elon-musk-show...
1,Cramer's lightning round: nLight is not a buy,7 Hours Ago,https://www.cnbc.com/2022/09/30/cramers-lightn...
2,Cramer: Charts suggest it’s ‘way too early’ to...,8 Hours Ago,https://www.cnbc.com/2022/09/30/cramer-charts-...
3,Cramer’s week ahead: 3 big events will set the...,8 Hours Ago,https://www.cnbc.com/2022/09/30/cramers-week-a...
4,Intel's self-driving car division Mobileye fil...,9 Hours Ago,https://www.cnbc.com/2022/09/30/intel-owned-mo...

_________________________________________________________________________________

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

In [214]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page
soup = BeautifulSoup(page.content)

Extract title of research papers

In [215]:
title=[]
for i in soup.find_all("a",class_="sc-5smygv-0 nrDZj"):
    title.append(i.text)
title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

Extract author of each research paper

In [233]:
z=[]
a=[]

In [239]:

for i in soup.find_all("span",class_="sc-1w3fpd7-0 pgLAT"):
    z.append(i.text)

    for i in author:
        a.append(i.translate({ord(i):None for i in ','}))
del a[25:]
a

['Silver David Singh Satinder Precup Doina Sutton Richard S. ',
 'Evans Richard Bošnjak Matko and 5 more',
 'Prakken Henry Sartor Giovanni ',
 'Boden Margaret A. ',
 'Lemaignan Séverin Warnier Mathieu and 3 more',
 'Miller Tim ',
 'Evans Richard Hernández-Orallo José and 3 more',
 'Sharon Guni Stern Roni Felner Ariel Sturtevant Nathan R. ',
 'Sutton Richard S. Precup Doina Singh Satinder ',
 'Bard Nolan Foerster Jakob N. and 13 more',
 'van der Waa Jasper Nieuwburg Elisabeth Cremers Anita Neerincx Mark ',
 'Bench-Capon T.J.M. Dunne Paul E. ',
 'Bošanský Branislav Lisý Viliam and 3 more',
 'Luo Wenhan Xing Junliang and 4 more',
 'Blum Avrim L. Langley Pat ',
 'Arora Saurabh Doshi Prashant ',
 'Aas Kjersti Jullum Martin Løland Anders ',
 'Kliegr Tomáš Bahník Štěpán Fürnkranz Johannes ',
 'Pereira Gonçalo Prada Rui Santos Pedro A. ',
 'Riveiro Maria Thill Serge ',
 'Kenny Eoin M. Ford Courtney Quinn Molly Keane Mark T. ',
 'Hutter Frank Xu Lin Hoos Holger H. Leyton-Brown Kevin ',
 'Kohavi Ron John George H. ',
 'Suchan Jakob Bhatt Mehul Varadarajan Srikrishna ',
 'Ying Mingsheng ']

Extract published date

In [218]:
date=[]
for i in soup.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
    date.append(i.text)
date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

Extract url of each research paper

In [220]:
url=[]
for i in soup.find_all("a",class_="sc-5smygv-0 nrDZj"):
    url.append(i.get("href"))
url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [242]:
df=pd.DataFrame({"Title":title,"Author":a,"Published":date,"Link":url})
df.head()

,Title,Author,Published,Link
0,Reward is enough,Silver David Singh Satinder Precup Doina Sutto...,October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,Evans Richard Bošnjak Matko and 5 more,October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,Prakken Henry Sartor Giovanni,October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,Boden Margaret A.,August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,Lemaignan Séverin Warnier Mathieu and 3 more,June 2017,https://www.sciencedirect.com/science/article/...

_________________________________________________________________________________

# 9) Write a python program to scrape mentioned details from dineout.co.in :

In [243]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page
soup = BeautifulSoup(page.content)

Extract name of each restaurant

In [244]:
res=[]
for i in soup.find_all("a",class_="restnt-name ellipsis"):
    res.append(i.text)
res

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

Extract cuisine list of each restaurant

In [264]:
c=[]
k=[]
for i in soup.find_all("span",class_="double-line-ellipsis"):
    c.append(i.text)

for i in c:
        k.append(i[25:])

['Chinese, North Indian',
 'North Indian, Asian, Italian',
 'Chinese, North Indian',
 'Italian, Continental',
 'North Indian, Chinese',
 'North Indian, Italian',
 'North Indian',
 'North Indian',
 'North Indian, Mughlai']

Extract the location

In [267]:
loc=[]
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    loc.append(i.text)
loc

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

Extract the ratings

In [269]:
rating=[]
for i in soup.find_all("div",class_="restnt-rating rating-4"):
    rating.append(i.text)
rating

['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.6', '3.8', '4.3']

Extract url of each restaurant on the webpage

In [270]:
url=[]
for i in soup.find_all("img",class_="no-img"):
    url.append(i.get("data-src"))
url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [272]:
df=pd.DataFrame({"Name":res,"Cuisine":k,"Location":loc,"Image":url})
df.head()

,Name,Cuisine,Location,Image
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...

_________________________________________________________________________________

# 10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en

In [273]:
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
page
soup = BeautifulSoup(page.content)

Extract ranking of each publication

In [275]:
rank=[]
for i in soup.find_all("td",class_="gsc_mvt_p"):
    rank.append(i.text)

Extract title

In [277]:
title=[]
for i in soup.find_all("td",class_="gsc_mvt_t"):
    title.append(i.text)

Extract "h5-index" and "h5-median".

In [279]:
k=[]
for i in soup.find_all("td",class_="gsc_mvt_n"):
    k.append(i.text)

Extracted k list contains both "h5-index" and "h5-median" in alternate order. Use loop to separate both into 2 list

In [282]:
l=[]
h=[]
for i in range(len(k)):
    if(i%2)==0:
        l.append(k[i])
    else:
        h.append(k[i])

Delete the unnecessary elements on both list

In [290]:
del l[100:]
del h[100:]

In [291]:
df=pd.DataFrame({"Rank":rank,"Title":title,"h5-index":l,"h5-median":h})
df.head()

  Rank                                              Title h5-index h5-median
0   1.                                             Nature      444       667
1   2.                The New England Journal of Medicine      432       780
2   3.                                            Science      401       614
3   4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4   5.                                         The Lancet      354       635