In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# 1 & 2 ) Write a python program which searches all the product under a particular product from www.amazon.in and In the above question,.....

In [138]:
driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.amazon.in/")

Accessing the website.

In [140]:
search_text=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_text.send_keys("processor")

Entering text in search box.

In [141]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()
driver.implicitly_wait(5)

Submitting the search.

In [142]:
u=[]

In [143]:
start=0
end=3
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-no-outline"]')
    start=0
    for i in url[start:]:
        u.append(i.get_attribute('href'))
    
    next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_button.click()
    time.sleep(5)

Extracting product URL from first 3 page result.

In [144]:
a=[]
b=[]
c=[]
d=[]
e=[]
f=[]
z=[]
for i in u:
    driver.get(i)
    p=driver.find_elements(By.XPATH,'//span[@class="a-size-large product-title-word-break"]')
    for i in p:
        v=i.text
        a.append(v[0])
        
    s=driver.find_elements(By.XPATH,'//span[@class="a-size-large product-title-word-break"]')
    for i in s:
        v=i.text
        b.append(v)
        
        n=driver.find_elements(By.XPATH,'//span[@class="a-price aok-align-center reinventPricePriceToPayMargin priceToPay"]')
        for i in n:
            z=i.text
            c.append(z)
            
        m=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-success"]')
        for i in m:    
            d.append(i.text)

        l=driver.find_elements(By.XPATH,'//div[@id="mir-layout-DELIVERY_BLOCK"]')
        for i in l:
                e.append(i.text)
                
        o=driver.find_elements(By.XPATH,'//div[@class="a-row icon-farm-wrapper"]')
        for i in o:
            f.append(i.text)
            
        p=driver.find_element(By.XPATH,'//a[@class="a-button-text"]')
        p.click()
        q=driver.find_elements(By.XPATH,'/html/body/div[1]/span/span/span/div/div/div[4]/div[1]/div[2]/div/div/div[2]/div/div')
        for i in q:
                e.append(i.text)
        r=driver.find_elements(By.XPATH,'/html/body/div[1]/span/span/span/div/div/div[4]/div[1]/div[2]/div/div/div[1]/div/span/span[2]/span[2]')
        for i in q:
                c.append(i.text)

Accessing each product page using URL to gather data.

In [145]:
print(len(a),len(b),len(c),len(d),len(e),len(f))

65 65 65 65 65 65

In [146]:
a=[]
for i in b:
    a.append(i.split())

brand=[]
for i in a:
    brand.append(i[0:1])

In [398]:
brands=[]
for i in brand:
    for j in i:
        brands.append(j)

Extracting Brand Name from string.

In [439]:
p=[]
for i in c:
    p.append(i[1:-3])

Extracting only numeric values from price.

In [248]:
av=[]
zz=[]
for i in e:
    av.append(i.split())
    
for i in av:
    zz.append(i[2:5])

Extracting delivery date from string.

In [ ]:
fzz=[]
for i in f:
    fzz.append(i.replace(" ","-"))

mm=[]
for i in fzz:
    mm.append(i.split())

policy=[]
for i in mm:
    for j in range(len(i)):
            if i[j]=='Not-Returnable' :
                 policy.append(i[j])
            for k in range(32):
                if i[j]==f"{k}-Days-Replacement":
                    policy.append(i[j])

Extracting return policy statement from string.

In [440]:
df1=pd.DataFrame({"Brand":brands,"Product Name":b,"Price(₹)":p,"Delivery Date":zz,"Availability":d,"Return Policy":policy,"Product URL":u})

In [441]:
df1.head()

,Brand,Product Name,Price(₹),Delivery Date,Availability,Return Policy,Product URL
0,AMD,AMD Ryzen™ 5 5600G Desktop Processor (6-core/1...,"15,499","[Thursday,, 20, October.]",In stock.,Not-Returnable,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,AMD,AMD Ryzen™ 7 5700G Desktop Processor (8-core/1...,"23,650","[Thursday,, 20, October.]",In stock.,Not-Returnable,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Intel,Intel Core i5 3470 LGA 1155 Excellent Performa...,"1,900","[Friday,, 21, October.]",Only 2 left in stock.,Not-Returnable,https://www.amazon.in/Intel-Excellent-Performa...
3,AMD,AMD Ryzen 3 3200G with RadeonVega 8 Graphics D...,"8,599","[Thursday,, 20, October.]",In stock.,Not-Returnable,https://www.amazon.in/AMD-RyzenTM-3200G-Radeon...
4,Intel,Intel Core i3-10105F LGA1200 Desktop Processor...,"7,300","[Tuesday,, 25, October.]",In stock.,Not-Returnable,https://www.amazon.in/Intel-i3-10105F-LGA1200-...

In [442]:
dzd=[]
for i in df1["Delivery Date"]:
    if len(i)>0:
        ne=i[0]+i[1]+i[2]
        dzd.append(ne)
    else:
        i="-"
        dzd.append(i)

In [443]:
df1["Delivery Date"]=dzd

In [444]:
df1.head()

,Brand,Product Name,Price(₹),Delivery Date,Availability,Return Policy,Product URL
0,AMD,AMD Ryzen™ 5 5600G Desktop Processor (6-core/1...,"15,499","Thursday,20October.",In stock.,Not-Returnable,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,AMD,AMD Ryzen™ 7 5700G Desktop Processor (8-core/1...,"23,650","Thursday,20October.",In stock.,Not-Returnable,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Intel,Intel Core i5 3470 LGA 1155 Excellent Performa...,"1,900","Friday,21October.",Only 2 left in stock.,Not-Returnable,https://www.amazon.in/Intel-Excellent-Performa...
3,AMD,AMD Ryzen 3 3200G with RadeonVega 8 Graphics D...,"8,599","Thursday,20October.",In stock.,Not-Returnable,https://www.amazon.in/AMD-RyzenTM-3200G-Radeon...
4,Intel,Intel Core i3-10105F LGA1200 Desktop Processor...,"7,300","Tuesday,25October.",In stock.,Not-Returnable,https://www.amazon.in/Intel-i3-10105F-LGA1200-...

# 3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [3]:
driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.google.co.in/imghp?hl=en&ogbl")

Accessing the website.

In [19]:
from selenium.webdriver.common.keys import Keys

search_text=driver.find_element(By.XPATH,"//input[@class='gLFyf gsfi']")
search_text.send_keys("fruits")
search_text.send_keys(Keys.ENTER)


Entering text in search box.
Submitting the search.

In [31]:
find_imgs=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
src=[]
for i in find_imgs[0:10]:
    src.append(i.get_attribute("src"))

Extracting image url.

In [37]:
search_text=driver.find_element(By.XPATH,"//input[@class='og3lId']").clear()
driver.implicitly_wait(5)
search_text=driver.find_element(By.XPATH,"//input[@class='og3lId']")
search_text.send_keys("cars")
search_text.send_keys(Keys.ENTER)
find_imgs=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
src2=[]
for i in find_imgs[0:10]:
    src2.append(i.get_attribute("src"))

Entering text in search box.
Submitting the search.
Extracting image url.

In [106]:
search_text=driver.find_element(By.XPATH,"//input[@class='og3lId']").clear()
driver.implicitly_wait(5)
search_text=driver.find_element(By.XPATH,"//input[@class='og3lId']")
search_text.send_keys("Machine Learning")
search_text.send_keys(Keys.ENTER)
find_imgs=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
src3=[]
for i in find_imgs[0:10]:
    src3.append(i.get_attribute("src"))


Entering text in search box.
Submitting the search.
Extracting image url.

In [108]:
search_text=driver.find_element(By.XPATH,"//input[@class='og3lId']").clear()
driver.implicitly_wait(5)
search_text=driver.find_element(By.XPATH,"//input[@class='og3lId']")
search_text.send_keys("Guitar")
search_text.send_keys(Keys.ENTER)
find_imgs=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
src4=[]
for i in find_imgs[0:10]:
    src4.append(i.get_attribute("src"))


Entering text in search box.
Submitting the search.
Extracting image url.

In [110]:
search_text=driver.find_element(By.XPATH,"//input[@class='og3lId']").clear()
driver.implicitly_wait(5)
search_text=driver.find_element(By.XPATH,"//input[@class='og3lId']")
search_text.send_keys("Cakes")
search_text.send_keys(Keys.ENTER)
find_imgs=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
src5=[]
for i in find_imgs[0:10]:
    src5.append(i.get_attribute("src"))


Entering text in search box.
Submitting the search.
Extracting image url.

In [111]:
zzz=pd.DataFrame({"Fruits":src,"Cars":src2,"Machine Learning":src3,"Guitar":src4,"Cakes":src5})
zzz

,Fruits,Cars,Machine Learning,Guitar,Cakes
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

# 4. Write a python program to search for a smartphone and scrape following details for all the search results displayed on 1st page. Details to be.....

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.flipkart.com/")

Accessing the website.

In [4]:
cancel=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cancel.click()
search_text=driver.find_element(By.CLASS_NAME,"_3704LK")
search_text.send_keys("smartphone")
driver.implicitly_wait(5)
searching=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
searching.click()


Closing the popup. Entering text in search box.
Submitting the search.

In [43]:
u=[]
url=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
start=0
for i in url[start:]:
    u.append(i.get_attribute('href'))


Extracting product url.

In [44]:
a=[]
b=[]
c=[]
d=[]
e=[]
f=[]
g=[]

p=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in p:
    v=i.text
    a.append(v)

        
n=driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]')
for i in n:
    z=i.text
    c.append(z)
            
m=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')
for i in m:
    z=i.text
    g.append(z)
    
h=[]
url=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
for i in url:
    h.append(i.get_attribute("href"))


Extracting data from result page.

In [45]:
print(len(a),len(c),len(g),len(h))

24 24 24 24

In [46]:
for i in c:
    e.append(i.replace(" ","-"))
    
for i in e:
    f.append(i.split())

ram=[]
check1='RAM'
for j in range(len(c)):
    if check1 in f[j][0]:
        ram.append(f[j][0][0:1])
    else:
        ram.append(" - ")


Extracting RAM information from string.

In [47]:
rom=[]
check2='ROM'
for j in range(len(c)):
    if check1 not in f[j][0]:
        rom.append(f[j][0][0:4])
    elif check1 and check2 in f[j][0]:
        rom.append(f[j][0][11:14])
    else:
        rom.append(" - ")


Extracting ROM information from string.

In [48]:
display=[]
check3='Display'
for j in range(len(c)):
    if check3 in f[j][1]:
        display.append(f[j][1])
    else:
        display.append(" - ")


Extracting Display information from string.

In [49]:
cam=[]
check4='Camera'
for j in range(len(c)):
    if check4 in f[j][2]:
        cam.append(f[j][2])
    else:
        cam.append(" - ")


Extracting Camera information from string.

In [50]:
cam2=[]
for i in cam:
    cam2.append(i.replace("|"," "))
                
cam3=[]
for i in cam2:
    cam3.append(i.split())

primarycam=[]
secondarycam=[]
for i in cam3:
    primarycam.append(i[0])
    secondarycam.append(i[1])


Extracting Back and Front Camera information from string.

In [51]:
battery=[]
check5='Battery'
for j in range(len(c)):
    if check5 in f[j][3]:
        battery.append(f[j][3])
    else:
        battery.append(" - ")


Extracting Battery information from string.

In [52]:
name=[]
for i in a:
    name.append(i.split())

brand=[]
for i in name:
    brand.append(i[0:1])
    
mode=[]
for i in name:
    mode.append(i[0:3])


Extracting Brand and Model information from string.

In [53]:
color=[]
for i in name:
    for j in range(len(i)):
        if "(" in i[j]:
            color.append(i[j]+i[j+1])


Extracting Color information from string.

In [54]:
df3=pd.DataFrame({"Brand":brand,"Model":mode,"Price (₹)":g,"RAM (GB)":ram,"ROM (GB)":rom,"Display":display,"Primary Cam":primarycam,"Secondary Cam":secondarycam,"Battery":battery,"URL":h})
df3.head()

,Brand,Model,Price (₹),RAM (GB),ROM (GB),Display,Primary Cam,Secondary Cam,Battery,URL
0,[SAMSUNG],"[SAMSUNG, Galaxy, F13]","₹14,999",4,64-,16.76-cm-(6.6-inch)-Full-HD+-Display,50MP-+-5MP-+-2MP-,-8MP-Front-Camera,6000-mAh-Lithium-Ion-Battery,https://www.flipkart.com/samsung-galaxy-f13-ni...
1,[SAMSUNG],"[SAMSUNG, Galaxy, F13]","₹14,999",4,64-,16.76-cm-(6.6-inch)-Full-HD+-Display,50MP-+-5MP-+-2MP-,-8MP-Front-Camera,6000-mAh-Lithium-Ion-Battery,https://www.flipkart.com/samsung-galaxy-f13-wa...
2,[APPLE],"[APPLE, iPhone, 11]","₹46,990",-,128-,15.49-cm-(6.1-inch)-Liquid-Retina-HD-Display,12MP-+-12MP-,-12MP-Front-Camera,-,https://www.flipkart.com/apple-iphone-11-white...
3,[APPLE],"[APPLE, iPhone, 11]","₹46,990",-,128-,15.49-cm-(6.1-inch)-Liquid-Retina-HD-Display,12MP-+-12MP-,-12MP-Front-Camera,-,https://www.flipkart.com/apple-iphone-11-black...
4,[SAMSUNG],"[SAMSUNG, Galaxy, F13]","₹14,999",4,64-,16.76-cm-(6.6-inch)-Full-HD+-Display,50MP-+-5MP-+-2MP-,-8MP-Front-Camera,6000-mAh-Lithium-Ion-Battery,https://www.flipkart.com/samsung-galaxy-f13-su...

Data Cleaning

In [55]:
newbrand=[]
for i in df3.iloc[:,0]:
    for j in i:
        newbrand.append(j)
    
df3["Brand"]=newbrand

df3["Brand"]=df3["Brand"].replace("REDMI","XIAOMI")

Replacing Model Name with Brand name in brand column.

In [56]:
for i in df3["Model"]:
    for j in range(len(df3["Model"])):
            if "(" in df3.iloc[j,1][2]:
                df3.iloc[j,1][2]=df3.iloc[j,1][2].replace(df3.iloc[j,1][2]," ")

                
newmod=[]
for i in df3.iloc[:,1]:
        newmod.append(i[0]+" "+i[1]+" "+i[2])

df3["Model"]=newmod

Separating Model name from unnecessary data.

In [57]:
dis=[]
for j in df3["Display"]:
    dis.append(j.replace("-"," "))

df3["Display"]=dis

Replacing hyphen with space tab in Display colum.

In [58]:
prim=[]
for i in df3["Primary Cam"]:
    prim.append(i.replace("-"," "))

sec=[]
for i in df3["Secondary Cam"]:
    sec.append(i.replace("-"," "))
    
df3["Primary Cam"]=prim
df3["Secondary Cam"]=sec


Replacing hyphen with space tab in Primary and Secondary Camera columns.

In [65]:
mah=[]
for i in df3["Battery"]:
    if len(i)>3:
        mah.append(i.replace("-"," "))
    else:
        mah.append(i.replace("   ","-"))
    
df3["Battery"]=mah

Replacing hyphen with space tab in Battery column.

In [60]:
tag=[]
for i in df3["Price (₹)"]:
    tag.append(i[1:])
    
df3["Price (₹)"]=tag

Removing currency string symbol.

In [71]:
z=[]
for i in df3["ROM (GB)"]:
    z.append(i[:-1])
df3["ROM (GB)"]=z

In [72]:
df3.head()

,Brand,Model,Price (₹),RAM (GB),ROM (GB),Display,Primary Cam,Secondary Cam,Battery,URL
0,SAMSUNG,SAMSUNG Galaxy F13,"14,999",4,64,16.76 cm (6.6 inch) Full HD+ Display,50MP + 5MP + 2MP,8MP Front Camera,6000 mAh Lithium Ion Battery,https://www.flipkart.com/samsung-galaxy-f13-ni...
1,SAMSUNG,SAMSUNG Galaxy F13,"14,999",4,64,16.76 cm (6.6 inch) Full HD+ Display,50MP + 5MP + 2MP,8MP Front Camera,6000 mAh Lithium Ion Battery,https://www.flipkart.com/samsung-galaxy-f13-wa...
2,APPLE,APPLE iPhone 11,"46,990",-,128,15.49 cm (6.1 inch) Liquid Retina HD Display,12MP + 12MP,12MP Front Camera,-,https://www.flipkart.com/apple-iphone-11-white...
3,APPLE,APPLE iPhone 11,"46,990",-,128,15.49 cm (6.1 inch) Liquid Retina HD Display,12MP + 12MP,12MP Front Camera,-,https://www.flipkart.com/apple-iphone-11-black...
4,SAMSUNG,SAMSUNG Galaxy F13,"14,999",4,64,16.76 cm (6.6 inch) Full HD+ Display,50MP + 5MP + 2MP,8MP Front Camera,6000 mAh Lithium Ion Battery,https://www.flipkart.com/samsung-galaxy-f13-su...

# 5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [3]:
driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.google.com/maps")
driver.implicitly_wait(5)

Accessing the google maps.

In [4]:
searchbox=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div[2]/div[3]/div/input[1]")
searchbox.click()
search=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div[2]/div[3]/div/input[1]")
search.send_keys("London, UK")
driver.implicitly_wait(5)
go=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[2]/div[2]/div[1]/div/div/div[1]/div/div[2]/div/div/div[1]")
go.click()

Entering text in search box.
Submitting the search.

In [72]:
url=driver.current_url
loc=[]
u=[]
url=url.replace(","," ")
url=url.split()
loc.append(url[1:3])
loc

[['+UK/@51.5287352', '-0.381789']]

Extracting coordinates from URL of searched loaction.

In [73]:
loc[0][0]=loc[0][0].replace("/@"," ")
loc[0][0]

'+UK 51.5287352'

Replacing the unnecessary data with space.

In [74]:
loc[0][0]=loc[0][0].split()
loc[0][0]

['+UK', '51.5287352']

Splitting the data to get coordinates

In [75]:
del loc[0][0][0]
loc

[[['51.5287352'], '-0.381789']]

Deleting unnecessary element from list.

In [76]:
long_lat=loc[0][0][0]+","+loc[0][1]
long_lat

'51.5287352,-0.381789'

# 6. Write a program to scrap details of all the funding deals for first quarter (i.e Jan 21 – March 21) from trak.in.

In [4]:
driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://trak.in/")
driver.implicitly_wait(5)

Accessing the trak.in website.

In [5]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div[2]/div/div/div/div/nav/ul/li[9]/a")
search.click()
driver.implicitly_wait(5)

Accessing the drop down menu under label "More" from the navigation bar in the header of the webpage.

In [6]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div[2]/div/div/div/div/nav/ul/li[9]/ul/li[1]/a")
search.click()
driver.implicitly_wait(5)

Selecting Funding details from drop down of "More".

In [7]:
get_url=driver.current_url
from bs4 import BeautifulSoup
import requests
import re
inf=[]
page = requests.get(get_url)
soup = BeautifulSoup(page.content)
for i in soup.find_all('td',class_=re.compile("column-")):
    inf.append(i.text)

- Extracting the current page URL and then 
- Using Beautiful Soup to find table content using tag.

In [23]:
jan=[]

for i in range(len(inf)):
    if inf[i][3:]=='01/2021':
        jan.append(inf[i-1:i+8])
        
feb=[]

for i in range(len(inf)):
    if inf[i][3:]=='02/2021':
        feb.append(inf[i-1:i+8])
        
mar=[]

for i in range(len(inf)):
    if inf[i][3:]=='03/2021':
        mar.append(inf[i-1:i+8])

Extracting information for month January, February and March indicating Quarter 1 of 2021 using date from the content extracted using Beautoful Soup.

In [74]:
date=[]
name=[]
ind=[]
sub=[]
city=[]
investors=[]
invtype=[]
amount=[]
q1=[jan,feb,mar]

In [75]:
for i in q1:
    for j in range(len(i)):
        date.append(i[j][1])


Extracting all the dates of Q1 months into list.

In [76]:
for i in q1:
    for j in range(len(i)):
        name.append(i[j][2])


Extracting all the company names of Q1 months into list.

In [77]:
for i in q1:
    for j in range(len(i)):
        ind.append(i[j][3])


Extracting all the industry name of Q1 months into list.

In [78]:
for i in q1:
    for j in range(len(i)):
        sub.append(i[j][4])



Extracting all the sub-industry name of Q1 months into list.

In [79]:
for i in q1:
    for j in range(len(i)):
        city.append(i[j][5])



Extracting all the city names of Q1 months into list.

In [80]:
for i in q1:
    for j in range(len(i)):
        investors.append(i[j][6])



Extracting all the investors name of Q1 months into list.

In [81]:
for i in q1:
    for j in range(len(i)):
        invtype.append(i[j][7])


Extracting all the investor type names of Q1 months into list.

In [82]:
for i in q1:
    for j in range(len(i)):
        amount.append(i[j][8])



Extracting all the invested amount of Q1 months into list.

In [83]:
df6=pd.DataFrame({"Date":date,"Company":name,"Industry":ind,"Sub-industry":sub,"City":city,"Investors":investors,"Investment Type":invtype,"Amount (USD)":amount})

In [84]:
df6.head()

,Date,Company,Industry,Sub-industry,City,Investors,Investment Type,Amount (USD)
0,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"

# 7. Write a program to scrap all the available details of best gaming laptops from digit.in

In [38]:
driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.digit.in/")
driver.implicitly_wait(5)

Accessing the website.

In [39]:
search=driver.find_element(By.XPATH,"//a[text()='Best Gaming Laptops in India']")
search.click()
driver.implicitly_wait(5)

Accessing the article from right sidebar of the website.

In [41]:
get_url=driver.current_url

Getting current webpage URL.

In [43]:
from bs4 import BeautifulSoup
import requests
model=[]
page = requests.get(get_url)
soup = BeautifulSoup(page.content)
for i in soup.find_all('h3'):
    model.append(i.text)

Extracting all information from the webpage.

In [91]:
b=[]
for i in soup.find_all('td'):
    b.append(i.text)

processors=[]
for i in range(len(b)):
    if b[i]=='Processor':
        i=i+2
        processors.append(b[i])

Extracting Processor name.

In [92]:
display=[]
for i in range(len(b)):
    if b[i]=='Display':
        i=i+2
        display.append(b[i])

Extracting the display information.

In [93]:
OS=[]
for i in range(len(b)):
    if b[i]=="OS":
        i=i+2
        OS.append(b[i])

Extracting Operating System name.

In [94]:
memory=[]
for i in range(len(b)):
    if b[i]=="Memory":
        i=i+2
        memory.append(b[i])

Extracting memory size of the laptops.

In [95]:
gpu=[]
for i in range(len(b)):
    if b[i]=="Graphics Processor":
        i=i+2
        gpu.append(b[i])

Extracting Graphic card name.

In [96]:
body=[]
for i in range(len(b)):
    if b[i]=="Body":
        i=i+2
        body.append(b[i])

Extracting information about laptop body.

In [203]:
price=["-"]
for i in range(len(b)):
    if b[i]=="Price":
        i=i+2      
        price.append(b[i][1:])

Extracting price of each laptop.

In [185]:
import re
url=[]

for i in soup.find_all('img', attrs={'src': re.compile("^https://")}):
    url.append(i.get('src'))
    
search=driver.find_elements(By.XPATH,"//img[@class='lzy_img']")
for i in search:
    url.append(i.get_attribute("data-src"))

Extarcting laptop image URL.

In [186]:
imgs=[]
a=re.compile("^https://static.digit.in/product")
for i in url:
    if a.search(i):
        imgs.append(i)

In [204]:
df7=pd.DataFrame({"Model":model,"Processor":processors,"Display":display,"OS":OS,"Memory":memory,"Graphics Processor":gpu,"Body":body,"Price (₹)":price,"Image":imgs})

In [205]:
df7.head()

,Model,Processor,Display,OS,Memory,Graphics Processor,Body,Price (₹),Image
0,MSI Titan GT77-12UHS,12th Gen Intel Core i9-12900HX 16 core processor,"17.3″ (3840 x 2160) screen, 120 Hz refresh rate",Windows 11 Home,64 GB DDR5 RAM & 2 TB SSD,16 GB DDR6 NVIDIA GeForce RTX 3080 Ti Graphics...,397 x 330 x 23 mm dimension & 3.3 kg weight,-,https://static.digit.in/product/thumb_287413_p...
1,Alienware x17 R2,12th Gen Intel Core i9-12900H 14 core processo...,"17.3″ (1920 x 1080) screen, 360 Hz refresh rate",Windows 11 Home,32 GB DDR5 RAM & 1 TB SSD,16 GB DDR6 NVIDIA GEFORCE RTX 3080 Ti Graphics...,299 x 359 x 21 mm dimension & 2.96 kg weight,"389,990",https://static.digit.in/product/thumb_292027_p...
2,Acer Predator Triton 500 SE PT516-52s,12th Gen Intel Core i7-12700H 14 core processo...,"16″ (2560 x 1600) screen, 240 Hz refresh rate",Windows 11 Home,32 GB DDR5 RAM & 2 TB SSD,8 GB DDR6 NVIDIA GeForce RTXTM 3070 Ti Graphic...,358 x 262 x 19.9 mm dimension & 2.4 kg weight,"300,000",https://static.digit.in/product/thumb_288422_p...
3,Omen by HP (16-B1371TX),12th Gen Intel Core i7-12700H 14 core processo...,16.1″ (2560 x 1440) screen,Windows 11 Home,8 GB DDR5 RAM & 1 TB SSD,8 GB GDDR6 NVIDIA GeForce RTX 3070 Graphics card,369 x 248 x 23 mm dimension & 2.32 kg weight,"176,290",https://static.digit.in/product/thumb_241970_p...
4,Acer Predator Helios 300 AN515-45 (NH.QBRSI.0,AMD Ryzen 9-5900HX 8 core processor,"15.6″ (2560 x 1440) screen, 165 Hz refresh rate",Windows 11 Home,16 GB DDR4 RAM & 512 GB SSD,8 GB DDR6 NVIDIA GeForce RTX 3070 Graphics card,363 x 255 x 23.9 mm dimension & 2.4 kg weight,"172,999",https://static.digit.in/product/thumb_288428_p...

# 8. Write a python program to scrape the details for all billionaires from www.forbes.com.

In [4]:
driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.forbes.com/")
driver.implicitly_wait(5)

Accessing the website.

In [5]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/nav/div[1]/div")
search.click()
driver.implicitly_wait(5)

Accessing the left sidebar of the website.

In [6]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/nav/div[1]/div/div/div[2]/ul/li[1]/div[1]/a")
search.click()
driver.implicitly_wait(5)

Accessing the "Billionarie" label from sidebar.

In [7]:
link=[]
search=driver.find_elements(By.XPATH,'//a')
for i in search:
    link.append(i.get_attribute("href"))

Extracting link of "World's Billionarie" label in "Billionarie" sub-menu.

In [8]:
driver.get(link[2])
driver.implicitly_wait(5)

Accessing the "World's Billionarie" webpage.

In [9]:
rank=[]
pos=driver.find_elements(By.XPATH,'//div[@class="rank"]')
for i in pos:
    rank.append(i.text)

Extracting rank.

In [10]:
name=[]
full=driver.find_elements(By.XPATH,'//div[@class="personName"]')
for i in full:
    name.append(i.text)

Extracting name.

In [11]:
net=[]
search=driver.find_elements(By.XPATH,'//div[@class="netWorth"]')
for i in search:
    net.append(i.text)

Extracting net worth.

In [12]:
age=[]
search=driver.find_elements(By.XPATH,'//div[@class="age"]')
for i in search:
    age.append(i.text)

Extracting age.

In [13]:
citizen=[]
search=driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
for i in search:
    citizen.append(i.text)

Extarcting citizenship.

In [14]:
source=[]
search=driver.find_elements(By.XPATH,'//div[@class="source"]')
for i in search:
    source.append(i.text)

Extracting source of income

In [15]:
industry=[]
search=driver.find_elements(By.XPATH,'//div[@class="category"]')
for i in search:
    industry.append(i.text)

Extracting industry name.

In [24]:
df8=pd.DataFrame({"Rank":rank,"Name":name,"Age":age,"Net Worth ($ in Billions)":net,"Citizenship":citizen,"Source":source,"Industry":industry})

In [25]:
df8.head()

,Rank,Name,Age,Net Worth ($ in Billions),Citizenship,Source,Industry
0,1.,Elon Musk,50,$219 B,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,58,$171 B,United States,Amazon,Technology
2,3.,Bernard Arnault & family,73,$158 B,France,LVMH,Fashion & Retail
3,4.,Bill Gates,66,$129 B,United States,Microsoft,Technology
4,5.,Warren Buffett,91,$118 B,United States,Berkshire Hathaway,Finance & Investments

In [27]:
for i in range(len(df8["Net Worth ($ in Billions)"])):
      df8["Net Worth ($ in Billions)"][i]=df8["Net Worth ($ in Billions)"][i][1:-1]

Removing currency symbol.

In [28]:
df8.head()

,Rank,Name,Age,Net Worth ($ in Billions),Citizenship,Source,Industry
0,1.,Elon Musk,50,219,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,58,171,United States,Amazon,Technology
2,3.,Bernard Arnault & family,73,158,France,LVMH,Fashion & Retail
3,4.,Bill Gates,66,129,United States,Microsoft,Technology
4,5.,Warren Buffett,91,118,United States,Berkshire Hathaway,Finance & Investments

# 9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [317]:
driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.youtube.com/")
driver.implicitly_wait(5)

Accessing the website.

In [318]:
search=driver.find_element(By.XPATH,"/html/body/ytd-app/div[1]/ytd-page-manager/ytd-browse/ytd-two-column-browse-results-renderer/div[1]/ytd-rich-grid-renderer/div[6]/ytd-rich-grid-row[1]/div/ytd-rich-item-renderer[1]/div/ytd-rich-grid-media/div[1]/ytd-thumbnail")
search.click()
driver.implicitly_wait(5)
search=driver.find_element(By.XPATH,'//button[@class="ytp-play-button ytp-button"]')
search.click()

Accessing the first video displayed on the homepage and then pausing the video.

In [360]:
for i in range(100000):
    driver.execute_script("window.scrollBy(0,1000)","")
    driver.implicitly_wait(10)

Scrolling down to load more comments.

In [361]:
comments=[]
search=driver.find_elements(By.XPATH,'//div[@id="body"]')
for i in search[0:500]:
    comments.append(i.text)

Extracting all the information from comments.

In [721]:
com=[]
for i in comments:
    com.append(i.split())
text=[]    
for i in com:
    if i[-2].isdigit()  or "K" in i[-2]:
        text.append(i[5:-2])
    else:
        text.append(i[5:-1])

Extracting comments.

In [723]:
hms=['second','seconds','minute','minutes','hour','hours','day','days','week','weeks','month','months','year','years']
e=[]
for i in range(len(comments)):
    for j in hms:
        for k in range(61):
            if f"\n{k} {j} ago" in comments[i]:
                e.append(f"\n{k} {j} ago" )

Extracting published time of comments.

In [724]:
vote=[]
for i in com:
     vote.append(i[-2:])

Extracting Upvotes.

In [725]:
up=[]
for i in range(len(vote)):
    if vote[i][0]:
        if vote[i][0].isdigit() or 'K' in vote[i][0]:
            up.append(vote[i][0])
        else:
            up.append("-")

Replacing "-" where Upvotes are not given.

In [726]:
print(len(up),len(e),len(text))

500 500 500

In [727]:
df9=pd.DataFrame({"Comments":text,"Vote":up,"Time":e})
df9.head()

                                            Comments  Vote              Time
0  [Omg, What, a, Mind-blowing, Trailer, BIGGEST,...  2.7K     \n3 hours ago
1  [Bollywood, should, be, doing, these, types, o...   375      \n1 hour ago
2  [ago, The, VFX, ,, the, transformation,, the, ...   201  \n39 minutes ago
3  [ago, I, got, a, goosebumps,, Varun, and, all,...    79  \n31 minutes ago
4  [(edited), Varun, dawan, is, back, with..., 10...   899      \n1 hour ago

In [728]:
a=[]
for i in df9["Time"]:
        a.append(i[1:])

df9["Time"]=a

Removing "\n" from Time column.

In [729]:
c=[]
for i in df9["Comments"]:
    c.append(i)

Removing square brackets from Comments column.

In [730]:
d=[]
str=" "
for i in c:
        d.append(str.join(i))

Combining comments by removing ","

In [731]:
df9["Comments"]=d

In [732]:
df9.head()

                                            Comments  Vote            Time
0  Omg What a Mind-blowing Trailer BIGGEST BLOCKB...  2.7K     3 hours ago
1  Bollywood should be doing these types of movie...   375      1 hour ago
2  ago The VFX , the transformation, the acting, ...   201  39 minutes ago
3  ago I got a goosebumps, Varun and all cast mem...    79  31 minutes ago
4  (edited) Varun dawan is back with... 100 % goo...   899      1 hour ago

# 10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in.....

In [85]:
driver=webdriver.Chrome(r"C:\Users\RedPr\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.hostelworld.com/")
driver.implicitly_wait(5)

Accessing the website.

In [103]:
search=driver.find_element(By.XPATH,'//input[@class="location-text"]')
search.click()

Accessing the searchbox.

In [104]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[1]/div/div/div[4]/div/div[2]/div/div[1]/div/div/div/input')
search.send_keys("London")

Entering text in search box.

In [106]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[1]/div/div/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]')
search.click()


Selecting first suggested result from dropdown in searchbox.

In [107]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[1]/div/div/div[4]/div/div[2]/div/div[5]/button')
search.click()


Submitting the search.

In [163]:
name=[]
name_tag=driver.find_elements(By.XPATH,'//h2[@class="title title-6"]')
for i in name_tag:
    name.append(i.text)

Extracting name.

In [164]:
dist=[]
dist_tag=driver.find_elements(By.XPATH,'//span[@class="description"]')
for i in dist_tag:
    dist.append(i.text)

Extracting distance from city center to location.

In [165]:
rate=[]

ratings=driver.find_elements(By.XPATH,'//div[@class="score orange big"]')
for i in ratings:
    rate.append(i.text)
    
rating=driver.find_elements(By.XPATH,'//div[@class="score gray big"]')
for i in rating:
    rate.append(i.text)

Extracting rating.

In [166]:
ov=[]

overall_tag=driver.find_elements(By.XPATH,'//div[@class="keyword"]')
for i in overall_tag[3:]:
    ov.append(i.text)

Extracting Overall review.

In [167]:
total=[]

total_tag=driver.find_elements(By.XPATH,'//div[@class="reviews"]')
for i in total_tag:
    total.append(i.text)

Extracting Total number of reviews.

In [168]:
private=[]

p=driver.find_elements(By.XPATH,'//div[@class="price-col"]')
for i in p:
    private.append(i.text)

Extracting price for dorm and privates

In [169]:
f=[]
c=driver.find_elements(By.XPATH,'//div[@class="facilities-label facilities"]')
for i in c:
    f.append(i.text)

Extracting facility information.

In [170]:
d=[]
desc=driver.find_elements(By.XPATH,'//div[@class="rating-factors prop-card-tablet rating-factors small"]')
for i in desc:
    d.append(i.text)

Extracting location description.

In [171]:
pf=[]
df=[]
for i in range(len(private)):
    if (i%2)==0:
        pf.append(private[i])
    else:
        df.append(private[i])

Separating dorm price from privates.

In [172]:
dm=[]
pv=[]
for i in df:
    dm.append(i.split())
    
for i in pf:
    pv.append(i.split())

Splitting the string in dorm and privates list.

In [173]:
newdorm=[]
for i in range(len(dm)):
    if "Rs" in dm[i][-1]:
        newdorm.append(dm[i][-1][2:])
    else:
        newdorm.append(dm[i])

Separating available dorm from not available.

In [179]:
newprivate=[]
for i in range(len(pv)):
    if "Rs" in pv[i][-1]:
        newprivate.append(pv[i][-1][2:])
    else:
        newprivate.append(pv[i])

Separating available privates from not available.

In [181]:
df10=pd.DataFrame({"Name":name,"Distance from city center":dist,"Rating":rate,"Private Price (₹)":newprivate,"Dorm Price (₹)":newdorm,"Overall Review":ov,"Total Reviews":total,"Facilities":f,"Description":d})

In [182]:
df10.head()

,Name,Distance from city center,Rating,Private Price (₹),Dorm Price (₹),Overall Review,Total Reviews,Facilities,Description
0,Wombat's City Hostel London,Hostel - 3.6km from city centre,9.0,15826,4200,Superb,14195 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Perfect Location\nSuperb Staff\nFantastic Clea...
1,St Christopher's Village,Hostel - 1.8km from city centre,8.3,"[No, Privates, Available]",2847,Fabulous,11590 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Perfect Location\nSuperb Staff\nExcellent Clea...
2,Urbany Hostel London,Hostel - 5.4km from city centre,9.2,15799,"[No, Dorms, Available]",Superb,500 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Perfect Location\nSuperb Staff\nFantastic Clea...
3,Generator London,Hostel - 3km from city centre,7.8,18651,5963,Very Good,7210 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Perfect Location\nMarvellous Staff\nExcellent ...
4,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,7.0,30204,5062,Very Good,4589 Total Reviews,Free WiFi\nFollows Covid-19 sanitation guidance,Wonderful Location\nBrilliant Staff\nAwesome C...